fastapi
uvicorn
pydantic
requests
beautifulsoup4
chromadb
rank-bm25
langchain
langchain-community
langchain-openai
langchain-core
langgraph
openai
numpy
markdown
ragas
streamlit
graphviz
psycopg2-binary
pypdf

